@page "{Id:int}"
@model RazorPage.Pages.DetailsModel
@{
}
<h2>Name: @Model.book.Title</h2>
<h3>Author @Model.book.Author</h3>
<h4>Genre: @Model.book.Description</h4>
<h4>Is availible: @(Model.book.presentOrNot ? "Yes" : "No")</h4>
<h4>Price: @Model.book.price</h4>
<h4>ID: @Model.book.Id</h4>
